 body {
    margin: 0;
    padding: 0;
    font-family: Source Sans Pro, sans-serif;
    background-color: gray;
}

.container{
    margin: 0 auto;
    width: 375px;
    background-color: #FFFFFF;
}

header .container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8px 0 17px 0;
    border-bottom: 1px solid #C6C6C6;
}

.oldgram-logo{
    width: 127px;
    margin-left: 16px;
}

.your-avatar{
    margin-right: 16px;
    width: 34px;
    height: 34px;
    border-radius: 50%;
}

.profile-pic{
    width: 34px;
    height: 34px;
    border-radius: 50%;
}

.user-info{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-left: 10px;
}


.username{
    font-size: 16px;
    font-weight: bold;
    margin-left: 7px;
    margin-bottom: 0;
}

.location{
    font-size: 12px;
    font-weight: normal;
    margin-left: 7px;
    margin-top: 0;
}

.post-image{
    width: 375px;
}

.icons{
    width: 104px;
    height: 22px;
    display: flex;
    gap: 20px;
    margin: 14px 0 14px 10px;
}

.icons:hover{
    cursor: pointer;
}

.heart:hover, .cmt:hover, .dm:hover{
    border: 2px solid white;
}

.like-counts{
    font-size: 13px;
    font-weight: bold;
    margin: 11.87px 0 12px 13px;
}

.usernamecaption{ 
    font-size: 13px;
    margin-left: 13px;
}

#user-name-el{
    font-weight: bold;
}

.space-in-between{
    padding: 15px;
    background-color: #C6C6C6;
}